<ion-view view-title="我">
  <ion-content>
     <div>
     	<img ng-src="">
     	{{stat.nickname}}

     	<div class="row" style="text-align:center;">
     		<div class="col col-33">微博</div>
     		<div class="col col-33">关注{{stat.totalFollowing}}</div>
     		<div class="col col-33">粉丝{{stat.totalFollower}}</div>
     	</div>

     </div>

   <div>
         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-person-stalker" style="color:green"></i> 
            新的好友
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-star" style="color:yellow"></i> 
            微博等级
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-ios-albums" style="color:purple"></i> 
            我的相册
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-ios-browsers" style="color:red"></i> 
            我的点评
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-thumbsup" style="color:pink"></i> 
            我的赞
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-card" style="color:orange"></i> 
            微博支付
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-help-buoy" style="color:blue"></i> 
            微博运动
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

         <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-android-open" style="color:silver"></i> 
            草稿箱
            <i class="icon ion-chevron-right icon-accessory"></i>
         </a>

    </div>
  </ion-content>
</ion-view>
